body{
    color:white;
    background-color: purple;
}

header{
    padding-bottom: 3%;
    padding-top: 3%;
    margin-left: 5%;
    font-size: 30px;  
}

section{
    background: green;
    padding-bottom: 8%;
    padding-top: 8%;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
