body{
    color:white;
    background-color: purple;
}

head{
    padding-bottom: 10%;
    padding-top: 10%;  
}

section{
    background: green;
    padding-bottom: 10%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
